**Importing all the required libraries**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Since we want to display all the plots inline

In [2]:
%matplotlib inline

In [3]:
recent_grads = pd.read_csv("recent-grads.csv")

In [4]:
recent_grads.head(1)

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193

In [5]:
recent_grads.tail(1)

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.87796,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

In [6]:
recent_grads.describe()

,Rank,Major_code,Total,Men,Women,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
count,173.000000,173.000000,172.000000,172.000000,172.000000,172.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000
mean,87.000000,3879.815029,39370.081395,16723.406977,22646.674419,0.522223,356.080925,31192.763006,26029.306358,8832.398844,19694.427746,2416.329480,0.068191,40151.445087,29501.445087,51494.219653,12322.635838,13284.497110,3859.017341
std,50.084928,1687.753140,63483.491009,28122.433474,41057.330740,0.231205,618.361022,50675.002241,42869.655092,14648.179473,33160.941514,4112.803148,0.030331,11470.181802,9166.005235,14906.279740,21299.868863,23789.655363,6944.998579
min,1.000000,1100.000000,124.000000,119.000000,0.000000,0.000000,2.000000,0.000000,111.000000,0.000000,111.000000,0.000000,0.000000,22000.000000,18500.000000,22000.000000,0.000000,0.000000,0.000000
25%,44.000000,2403.000000,4626.000000,2200.000000,1784.000000,0.339671,39.000000,3608.000000,3154.000000,1030.000000,2453.000000,304.000000,0.050306,33000.000000,24000.000000,42000.000000,1675.000000,1591.000000,340.000000
50%,87.000000,3608.000000,15150.000000,5521.000000,8489.000000,0.535714,130.000000,11797.000000,10048.000000,3299.000000,7413.000000,893.000000,0.067961,36000.000000,27000.000000,47000.000000,4390.000000,4595.000000,1231.000000
75%,130.000000,5503.000000,39107.000000,15204.000000,22847.000000,0.707136,338.000000,31433.000000,25147.000000,9948.000000,16891.000000,2393.000000,0.087557,45000.000000,33000.000000,60000.000000,14444.000000,11783.000000,3466.000000
max,173.000000,6403.000000,393735.000000,173809.000000,307087.000000,0.968954,4212.000000,307933.000000,251540.000000,115172.000000,199897.000000,28169.000000,0.177226,110000.000000,95000.000000,125000.000000,151643.000000,148395.000000,48207.000000

In [7]:
# Total no. of rows
recent_grads.shape[0]

173

In [8]:
recent_grads_fixed = recent_grads.dropna()

In [9]:
# Check no. of rows in new dataframe
recent_grads_fixed.shape[0]

172

**Creating a scatter matrix to display data**

In [10]:
fig = plt.figure(figsize=(8,8))

In [14]:
# Histogram to see ShareWomen column (top-left)
ax_hist1 = fig.add_subplot(1,2,1)
ax_hist1.hist(recent_grads_fixed.ShareWomen.tolist())

(array([  3.,  14.,  16.,  22.,  19.,  21.,  25.,  29.,  11.,  12.]),
 array([ 0.        ,  0.09689537,  0.19379074,  0.2906861 ,  0.38758147,
         0.48447684,  0.58137221,  0.67826758,  0.77516295,  0.87205831,
         0.96895368]),
 <a list of 10 Patch objects>)

In [12]:
# Scatter plot with ShareWomen and Unemployment_rate (top-right)
ax_scatter2 = fig.add_subplot(2,1,1)
ax_scatter2.scatter(recent_grads_fixed.Unemployment_rate, recent_grads_fixed.ShareWomen)

In [13]:
# Scatter plot with Unemployment_rate and ShareWomen (bottom-left)
ax_scatter1 = fig.add_subplot(1,2,2)
ax_scatter1.scatter(recent_grads_fixed.ShareWomen, recent_grads_fixed.Unemployment_rate)

In [14]:
# Histogram to see Unemployment_rate (bottom-right)
ax_hist2 = fig.add_subplot(2,1,2)
ax_hist2.hist(recent_grads_fixed.Unemployment_rate.tolist())

(array([  8.,  14.,  27.,  48.,  34.,  27.,   9.,   1.,   3.,   1.]),
 array([ 0.        ,  0.01772264,  0.03544528,  0.05316792,  0.07089056,
         0.0886132 ,  0.10633584,  0.12405848,  0.14178113,  0.15950377,
         0.17722641]),
 <a list of 10 Patch objects>)

In [15]:
plt.show()